body h2:nth-child(2) {
  display: flex;
  justify-content: center;
  flex: 0.2;
  font-size: 2em;
}
#gameinfo {
  display: flex;
  flex: 0.8;
}
#gameinfo div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: maroon;
  margin: 1%;
  border-radius: 20px;
}
div input,
div select {
  width: 80%;
  margin-top: 5%;
}
#startgame {
  flex: 0.2;
  font-weight: bolder;
  margin-bottom: 1%;
}
input:invalid{
  background-color: brown;
}
