#highscore {
  display: flex;
  flex-direction: column;
}

#highscore h1 {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#highscore div {
  flex: 5;
  display: flex;
  flex-direction: row;
}

#highscore div section:nth-of-type(1) {
  
  flex: 1.5;
}

#highscore div section:nth-of-type(2) {
  
  flex: 1;
}
#playernames{
  margin-left:2%;
}
