@media(max-width:650px){
    header,footer{
        font-size:1.5em;
    }
body{
    display:flex;
    flex-direction: column;
}
main{
    display:flex;
    flex-direction: column;
}

#game-setup{
    margin:5px;
}
aside{
    font-size: 1em;
}
#highscorehead{
    margin:5px;
}


}