* {
  font-weight: bolder;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
/* Flex Layout for page*/
body {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 0.5;
  background-color: maroon;
  font-size: 2em;
  text-align: center;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 0.5;
  background-color: maroon;
  font-size: 2em;
  text-align: center;
}

main {
  height: 100%;
  width: 100%;
  flex: 4;
  display: flex;
  flex-direction: row;
}
#gameboard {
  flex: 3;
}
#highscore {
  flex: 1;
}

/*Form Layout*/
#startgame {
  width: 100%;
}
#gameinfo {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}
label,
header,
footer {
  color: white;
}
