#gameboard {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#tableContainer {
  height: 100%;
  width: 100%;
  flex: 10;
}

table {
  display: flex;
  height: 100%;
  width: 100%;
}

tr {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

td {
  flex: 1;
  border: solid black 1px;
  margin: 1%;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  flex-direction: column;
}
td:hover {
  border: 3px solid rgb(0, 255, 0);
}
p{
  padding: 0px;
  margin: 0px;
}
aside {
  font-size: 2em;
  flex: 1;
  text-align: center;
}

button {
  flex: 0.5;
}

/*JS CLASSES*/
.selected {
  border: solid rgb(0, 255, 0) 2px;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
